<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar Párametros del request HTTP URL</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Andres')}">Hola
				Andres</a></li>
		<li><a th:href="@{/params/string(texto='Que tal diego')}">Hola
				Diego</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Que tal Royyyyy', numero=7)}">Hola
				Roy /params/mix-params?saludo=Que tal Royyyyy&numero=7</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Que tal Royyyyy', numero=8)}">Hola
				Roy /params/mix-params-request?saludo=Que tal Royyyyy&numero=7</a></li>

	</ul>
</body>
</html>