<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hola Diego'">/variables/string/Hola
				Diego</a></li>
		<li><a th:href="@{/variables/string/} + 'Hola Roy'">/variables/string/Hola
				Roy</a></li>
		<li><a
			th:href="@{/variables/string/} + 'Saludos Andres' + '/' + 7">/variables/string/Saludos
				Andres/7</a></li>
	</ul>
</body>
</html>